$main-font: 'Aleo', serif;
$second-font: 'Josefin Sans', sans-serif;
$main-font-color: #ffffff;
$header-bg-color: rgba(0, 0, 0, 0.2);
$search-bg-color: #ffffff;
$nav-hover-color: #ffffff;
$main-bg-color: #333333;
$content-bg-color: rgba(35, 35, 35, 0.9);
$footer-bg-color: #232323;
$hamburger-bg-color: #ffffff;
$menu-bg-color: #5474fd;
$main-color: #5474fd;
$first-icon-color: #5474fd;
$second-icon-color: #ff6363;
$third-icon-color: #00a2ff;
$color-hamburger-hover: #ff2b58;
$btn-bg-color: #5474fd;
$btn-hover-color: #496bfe;
$placeholder-font-color: #999999;